.toast {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    z-index: 10000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    animation: fadeInOut 4s forwards;
  }
  
  .toast.Sucesso {
    background-color: #5fc962; /* verde */
  }
  
  .toast.Erro {
    background-color: #fd5b4f; /* vermelho */
  }
  
  .toast.Alerta {
    background-color: #ff9900; /* laranja/amarelo */
  }
  
  @keyframes fadeInOut {
    0% { transform: translateY(-40px); }
    10% { transform: translateY(0); }
    90% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
  }