/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 64px;

    padding: 16px;
    background-color: black;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Ou a cor que você usa no seu header */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }

header div {
    display: flex;
    gap: 8px;
}

header div a {
    text-decoration: none;
    color: white;
}

header div a:hover{
    color:rgb(102, 140, 173);
    text-decoration: underline;
}

header img {
    width: 4rem;
    height: inherit;
}